:root {
  font-size: 62.5%;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
}

body {
  font-size: 3rem;
  color: #C1B2AB;
}

h1, h2, h3, h4, h5 {
  font-family: "Zen Dots", cursive;
}

h1 {
  font-size: 5rem;
  color: #F84E66;
  text-shadow: 5px 5px black;
}

h2 {
  color: black;
  text-shadow: 1.5px 1.5px #F84E66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../images/coding_landingpage.jpg);
  background-size: cover;
}

.header-mobile-xs {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 150px;
  background-color: #22333b;
  border-bottom: 2px solid #C1B2AB;
}

.brand-sign {
  font-size: 5rem;
}

.brand-claim {
  margin-top: 10px;
  font-size: 1.5rem;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box-xs {
  width: 80%;
  height: 52%;
  padding: 30px;
  border: 2px solid #C1B2AB;
  border-radius: 10px;
  background: #22333b;
  opacity: 0.9;
}
.info-box-xs .description-xs {
  font-size: 1.7rem;
  text-align: justify;
}

.footer-mobile-xs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #22333b;
  width: 100%;
  height: 100px;
  border-top: 2px solid #C1B2AB;
  border-bottom: none;
}
.footer-mobile-xs a {
  width: 100%;
  height: 100%;
}
.footer-mobile-xs .btn-xs {
  border-top: none;
  border-left: 1px solid #2BA473;
  border-right: 1px solid #2BA473;
  background-color: transparent;
  color: #2BA473;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.info-box-large {
  display: none;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-mobile-xs {
    display: none;
  }

  .brand {
    text-align: center;
  }

  .brand-sign {
    font-size: 7rem;
  }

  .brand-claim {
    margin-top: 10px;
    font-size: 2.4rem;
  }

  .info-box-xs {
    display: none;
  }

  .info-box-large {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 60%;
    padding: 50px;
    border: 2px solid #C1B2AB;
    border-radius: 10px;
    background: #22333b;
    opacity: 0.9;
    overflow: hidden;
  }
  .info-box-large .description {
    font-size: 2rem;
    text-align: justify;
    margin: 50px 0;
  }

  .landingpg-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  button {
    position: relative;
    border: 3px solid #2BA473;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
  }
  button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F84E66;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  button:hover {
    cursor: pointer;
  }

  .footer-mobile-xs {
    display: none;
  }
}

/*# sourceMappingURL=landingpage-clean.css.map */
