@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "header header" "aside main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 120px 1fr;
  }

  .side-nav-md {
    grid-area: aside;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 20.125vh);
    position: fixed;
    top: 19.2vh;
    /* position: fixed;
        top: 19.5vh; */
    background-color: #22333b;
    width: 200px;
    height: 100%;
    border-right: 2px solid #C1B2AB;
  }
  .side-nav-md a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20.125vh;
    text-decoration: none;
  }

  .btn-xs {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #f84e66;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
    text-shadow: 2px 2px 3px black;
  }

  .header-md {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22333b;
    border-bottom: 2px solid #C1B2AB;
  }

  .home-link-header-md {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    text-align: center;
    padding: 15px;
  }

  .brand-sign-md {
    font-size: 2.5vw;
  }

  .brand-claim {
    font-size: 1.5vw;
  }

  .social-md {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
  }

  #about {
    width: 90%;
    padding: 20px;
    margin: 50px 0 100px 0;
  }
  #about .clip-path-heading {
    margin-bottom: 20px;
  }
  #about .description-xs {
    font-size: 1vw;
    text-align: justify;
  }
  #about .clip-path-heading {
    font-size: 2vw;
  }
  #about .description-xs {
    font-size: 1vw;
  }

  #skills .clip-path-heading {
    font-size: 2vw;
  }
  #skills .description-xs {
    font-size: 1vw;
    text-align: justify;
  }
  #skills li {
    list-style: none;
    font-size: 1vw;
  }
  #skills h5 {
    font-size: 1.5vw;
  }
  #skills .combine {
    font-size: 1vw;
  }

  #work {
    width: 90%;
    padding: 20px;
    margin: 0 0 100px 0;
  }
  #work .clip-path-heading {
    margin-bottom: 20px;
  }
  #work .description-xs {
    font-size: 1vw;
    text-align: justify;
  }
  #work .clip-path-heading {
    font-size: 2vw;
  }
  #work .description-xs {
    font-size: 1vw;
  }
  #work h5 {
    font-size: 1.5vw;
  }
  #work .pic-link {
    text-decoration: none;
    color: #C1B2AB;
    text-align: center;
  }
  #work .pic-project1 {
    background-image: url(../images/surf.png);
    background-size: cover;
    width: 20vw;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work .pic-project2 {
    background-image: url(../images/fitness.png);
    background-size: cover;
    width: 20vw;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work .pic-project3 {
    background-image: url(../images/skate.png);
    background-size: cover;
    width: 20vw;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work p {
    font-size: 1vw;
  }
  #work .project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #contact {
    width: 90%;
    padding: 20px;
    margin-bottom: 200px;
  }
  #contact .clip-path-heading {
    margin-bottom: 20px;
  }
  #contact .description-xs {
    font-size: 1vw;
    text-align: justify;
  }
  #contact .clip-path-heading {
    font-size: 2vw;
  }
  #contact .description-xs {
    font-size: 1vw;
  }
  #contact h5 {
    font-size: 1.5vw;
  }
  #contact label,
#contact input,
#contact textarea {
    font-size: 1.8rem;
  }

  .header-mobile-xs {
    display: none;
  }

  .footer-mobile-xs {
    display: none;
  }

  .social {
    display: none;
  }
}

/*# sourceMappingURL=mainMedium.css.map */
