:root {
  font-size: 62.5%;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
}

body {
  font-size: 2rem;
  color: #C1B2AB;
}

h1 {
  font-family: "Zen Dots", cursive;
  font-weight: 600;
  font-size: 6rem;
  color: #f84e66;
  text-shadow: 5px 5px black;
}

h2, h3, h4, h5 {
  font-family: "Source Code Pro", monospace;
}

h2 {
  color: #2BA473;
  text-shadow: 3px 3px black;
}

h5 {
  color: #2375A9;
  text-shadow: 3px 3px black;
  margin: 20px 0 10px 0;
}

.fa-chevron-left, .fa-chevron-right, .fa-sort-down {
  color: #f84e66 !important;
}

.fa-terminal {
  color: #f84e66 !important;
}

.fa-github, .fa-linkedin, .fa-xing-square {
  color: #2BA473 !important;
  opacity: 0.7;
}
.fa-github:hover, .fa-linkedin:hover, .fa-xing-square:hover {
  cursor: pointer;
  opacity: 1;
}

.fab, .fas, .far {
  color: #F67C38;
  text-shadow: 1px 1px 2px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100vw;
  grid-template-rows: 150px 1fr 100px;
  width: 100vw;
  height: 100vh;
  background: url(../images/coding_landingpage.jpg);
  background-size: 200% 200%;
}

.header-mobile-xs {
  position: fixed;
  top: 0;
  width: 100%;
  grid-area: header;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 150px;
  background-color: #22333b;
  border-bottom: 2px solid #C1B2AB;
  box-shadow: 2px 2px 6px black;
}

.home-link-header {
  text-decoration: none;
  text-align: center;
}

.brand-sign {
  font-size: 4rem;
}

.brand-claim {
  margin-top: 10px;
  font-size: 1.5rem;
}

.flex-box {
  grid-area: main;
  background-color: rgba(34, 51, 59, 0.8);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#about {
  width: 90%;
  padding: 20px;
  margin: 50px 0 100px 0;
}
#about .clip-path-heading {
  margin-bottom: 20px;
}
#about .description-xs {
  font-size: 1.5rem;
  text-align: justify;
}

#skills {
  width: 90%;
  padding: 20px;
  margin: 0 0 100px 0;
}
#skills .clip-path-heading {
  margin-bottom: 20px;
}
#skills .description-xs {
  font-size: 1.5rem;
  text-align: justify;
}
#skills .list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: justify;
}
#skills li {
  list-style: none;
  font-size: 1.5rem;
}

.combine {
  width: 100%;
  padding: 20px;
  margin: 20px 0 0 0;
  border: solid 2px #f84e66;
  background-color: #22333b;
  font-size: 1.5rem;
  text-align: justify;
  border-radius: 10px;
}

#work {
  width: 90%;
  padding: 20px;
  margin: 0 0 100px 0;
}
#work .clip-path-heading {
  margin-bottom: 20px;
}
#work .description-xs {
  font-size: 1.5rem;
  text-align: justify;
}
#work .pic-link {
  text-decoration: none;
  color: #C1B2AB;
}
#work .pic-project1 {
  background-image: url(../images/surf.png);
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}
#work .pic-project2 {
  background-image: url(../images/fitness.png);
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#work .pic-project3 {
  background-image: url(../images/skate.png);
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#work p {
  font-size: 1.5rem;
}

#contact {
  width: 90%;
  padding: 20px;
  margin-bottom: 200px;
}
#contact .clip-path-heading {
  margin-bottom: 20px;
}
#contact .description-xs {
  font-size: 1.5rem;
  text-align: justify;
}

form {
  margin-top: 10px;
}
form label, form input, form button, form textarea {
  display: block;
  margin-top: 5px;
}
form label {
  font-size: 1.5rem;
  font-weight: bold;
}
form input {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  background-color: #1f1f1f;
  color: white;
}
form input:focus {
  outline: none;
  background-color: #4d4d4d;
}
form textarea {
  position: relative;
  resize: none;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  background-color: #1f1f1f;
}
form textarea:focus {
  outline: none;
  background-color: #4d4d4d;
}
form button {
  border: 2px solid #f84e66;
  border-radius: 5px;
  background-color: transparent;
  background-color: #22333b;
  color: #2BA473;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  height: 40px;
  box-shadow: 2px 2px 3px black;
  text-shadow: 2px 2px 3px black;
}

.social {
  position: fixed;
  bottom: 100px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #C1B2AB;
}

.footer-mobile-xs {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #22333b;
  width: 100%;
  height: 100px;
  border-top: 2px solid #C1B2AB;
  border-bottom: none;
  box-shadow: -2px -2px 6px black;
  z-index: 3;
}
.footer-mobile-xs a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.footer-mobile-xs .btn-xs {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #f84e66;
  border-right: 1px solid #f84e66;
  background-color: transparent;
  color: #2BA473;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.info-box-large {
  display: none;
}

.side-nav-md {
  display: none;
}

.header-md {
  display: none;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "header header" "aside main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 120px 1fr;
  }

  .side-nav-md {
    grid-area: aside;
    position: fixed;
    top: 120px;
    background-color: #22333b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 100%;
    border-right: 2px solid #C1B2AB;
  }
  .side-nav-md a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19vh;
    text-decoration: none;
  }

  .btn-xs {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #f84e66;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
  }

  .header-md {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22333b;
    border-bottom: 2px solid #C1B2AB;
  }

  .home-link-header-md {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    text-align: center;
    padding: 15px;
  }

  .brand-sign-md {
    font-size: 4rem;
  }

  .brand-claim {
    font-size: 0.8rem;
  }

  .social-md {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
  }

  #about {
    width: 90%;
    padding: 20px;
    margin: 50px 0 100px 0;
  }
  #about .clip-path-heading {
    margin-bottom: 20px;
  }
  #about .description-xs {
    font-size: 1.5rem;
    text-align: justify;
  }
  #about .clip-path-heading {
    font-size: 4rem;
  }
  #about .description-xs {
    font-size: 2rem;
  }

  #skills .clip-path-heading {
    font-size: 4rem;
  }
  #skills .description-xs {
    font-size: 2rem;
    text-align: justify;
  }
  #skills li {
    list-style: none;
    font-size: 2rem;
  }
  #skills h5 {
    font-size: 2.5rem;
  }
  #skills .combine {
    font-size: 2rem;
  }

  #work {
    width: 90%;
    padding: 20px;
    margin: 0 0 100px 0;
  }
  #work .clip-path-heading {
    margin-bottom: 20px;
  }
  #work .description-xs {
    font-size: 1.5rem;
    text-align: justify;
  }
  #work .clip-path-heading {
    font-size: 4rem;
  }
  #work .description-xs {
    font-size: 2rem;
  }
  #work h5 {
    font-size: 2.5rem;
  }
  #work .pic-link {
    text-decoration: none;
    color: #C1B2AB;
    text-align: center;
  }
  #work .pic-project1 {
    background-image: url(../images/surf.png);
    background-size: cover;
    width: 20vw;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work .pic-project2 {
    background-image: url(../images/fitness.png);
    background-size: cover;
    width: 20vw;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work .pic-project3 {
    background-image: url(../images/skate.png);
    background-size: cover;
    width: 20vw;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work p {
    font-size: 2rem;
  }
  #work .project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #contact {
    width: 90%;
    padding: 20px;
    margin-bottom: 200px;
  }
  #contact .clip-path-heading {
    margin-bottom: 20px;
  }
  #contact .description-xs {
    font-size: 1.5rem;
    text-align: justify;
  }
  #contact .clip-path-heading {
    font-size: 4rem;
  }
  #contact .description-xs {
    font-size: 2rem;
  }
  #contact h5 {
    font-size: 2.5rem;
  }
  #contact label, #contact input, #contact textarea {
    font-size: 1.8rem;
  }

  .header-mobile-xs {
    display: none;
  }

  .footer-mobile-xs {
    display: none;
  }

  .social {
    display: none;
  }
}
@media (min-width: 1200px) {
  body {
    background-size: 180% 180%;
  }

  .side-nav-md {
    grid-area: aside;
    position: fixed;
    top: 120px;
    background-color: #22333b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 100%;
    border-right: 2px solid #C1B2AB;
  }
  .side-nav-md a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22vh;
    text-decoration: none;
  }

  .btn-xs-1 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #f84e66;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
  }
  .btn-xs-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22.1%;
    background-color: #f84e66;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .btn-xs-1:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .btn-xs-1:hover {
    cursor: pointer;
  }

  .btn-xs-2 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #f84e66;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
  }
  .btn-xs-2::after {
    content: "";
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    height: 22.4%;
    background-color: #f84e66;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .btn-xs-2:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .btn-xs-2:hover {
    cursor: pointer;
  }

  .btn-xs-3 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #f84e66;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
  }
  .btn-xs-3::after {
    content: "";
    position: absolute;
    top: 44.2%;
    left: 0;
    width: 100%;
    height: 22.5%;
    background-color: #f84e66;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .btn-xs-3:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .btn-xs-3:hover {
    cursor: pointer;
  }

  .btn-xs-4 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #f84e66;
    background-color: transparent;
    color: #2BA473;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    z-index: 1;
  }
  .btn-xs-4::after {
    content: "";
    position: absolute;
    top: 66.8%;
    left: 0;
    width: 100%;
    height: 22%;
    background-color: #f84e66;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .btn-xs-4:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .btn-xs-4:hover {
    cursor: pointer;
  }

  #about {
    width: 90%;
    padding: 20px;
    width: 70%;
    margin: 100px 0 100px 0;
  }
  #about .clip-path-heading {
    margin-bottom: 20px;
  }
  #about .description-xs {
    font-size: 1.5rem;
    text-align: justify;
  }
  #about .clip-path-heading {
    font-size: 4rem;
  }
  #about .description-xs {
    font-size: 2.5rem;
  }

  #skills {
    width: 70%;
  }
  #skills .clip-path-heading {
    font-size: 4rem;
  }
  #skills .description-xs {
    font-size: 2.5rem;
    text-align: justify;
  }
  #skills .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: justify;
  }
  #skills li {
    list-style: none;
    font-size: 2.5rem;
  }
  #skills h5 {
    font-size: 3rem;
  }
  #skills .combine {
    font-size: 2.5rem;
  }

  #work {
    width: 90%;
    padding: 20px;
    width: 70%;
    margin: 0 0 100px 0;
  }
  #work .clip-path-heading {
    margin-bottom: 20px;
  }
  #work .description-xs {
    font-size: 1.5rem;
    text-align: justify;
  }
  #work .clip-path-heading {
    font-size: 4rem;
  }
  #work .description-xs {
    font-size: 2.5rem;
  }
  #work h5 {
    font-size: 3rem;
  }
  #work .pic-link {
    text-decoration: none;
    color: #C1B2AB;
    text-align: center;
  }
  #work .pic-project1 {
    background-image: url(../images/surf.png);
    background-size: cover;
    width: 19vw;
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work .pic-project2 {
    background-image: url(../images/fitness.png);
    background-size: cover;
    width: 19vw;
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work .pic-project3 {
    background-image: url(../images/skate.png);
    background-size: cover;
    width: 19vw;
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #work p {
    font-size: 2.5rem;
  }
  #work .project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #contact {
    width: 90%;
    padding: 20px;
    width: 70%;
    margin-bottom: 100px;
  }
  #contact .clip-path-heading {
    margin-bottom: 20px;
  }
  #contact .description-xs {
    font-size: 1.5rem;
    text-align: justify;
  }
  #contact .clip-path-heading {
    font-size: 4rem;
  }
  #contact .description-xs {
    font-size: 2.5rem;
  }
  #contact h5 {
    font-size: 3rem;
  }
  #contact label, #contact input, #contact textarea {
    font-size: 2rem;
  }
  #contact button {
    border: 2px solid #f84e66;
    border-radius: 5px;
    background-color: transparent;
    background-color: #22333b;
    color: #2BA473;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    height: 40px;
    box-shadow: 2px 2px 3px black;
    text-shadow: 2px 2px 3px black;
    z-index: 0;
  }
  #contact button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f84e66;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  #contact button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  #contact button:hover {
    cursor: pointer;
  }
}

/*# sourceMappingURL=main.css.map */
