/* Error: Undefined variable.
 *    ,
 * 51 |         font-size: $xs;
 *    |                    ^^^
 *    '
 *   mixins.scss 51:20     sections-xs()
 *   mainMedium.scss 97:7  @import
 *   main.scss 2:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 51 \2502          font-size: $xs;\a    \2502                     ^^^\a    \2575 \a   mixins.scss 51:20     sections-xs()\a   mainMedium.scss 97:7  @import\a   main.scss 2:9         root stylesheet";
}
