@import "variables.scss";

.fa-chevron-left,
.fa-chevron-right,
.fa-sort-down {
  color: $brandcolor !important;
}

.fa-terminal {
  color: $brandcolor !important;
}

.fa-github,
.fa-linkedin,
.fa-xing-square {
  color: $btncolor !important;
  opacity: 0.7;
  font-size: $subheadings;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.fab,
.fas,
.far {
  color: $linkcolor;
  text-shadow: 1px 1px 2px black;
}