@import "typographie.scss";
@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";


body {
    width: 100vw;
    height: 100vh;
    background: url(../images/coding_landingpage.jpg);
    background-size: cover;
}

// MOBILE
.header-mobile-xs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 150px;
    background-color: $bgcolor;
    border-bottom: 2px solid $generalcolor;
}

.brand-sign {
    font-size: $xl;
}

.brand-claim {
    margin-top: 10px;
    font-size: $xs;
}


.flex-box {
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.info-box-xs {
    
   
    width: 80%;
    height: 52%;
    padding: 30px;
    border: 2px solid $generalcolor;
    border-radius: 10px;
    background: $bgcolor;
    opacity: 0.9;

    .description-xs {
        font-size: $s;
        text-align: justify;
    }
}

.footer-mobile-xs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: $bgcolor;
    width: 100%;
    height: 100px;
    border-top: 2px solid $generalcolor; 
    border-bottom: none;

    a {
        width: 100%;
        height: 100%;
    }

    .btn-xs {
    border-top: none;
    border-left: 1px solid $btncolor;
    border-right: 1px solid $btncolor;
    background-color: transparent;
    color: $btncolor;
    font-weight: bold;
    width: 100%;
    height: 100%;
    }
}

.info-box-large {
    display: none;
}

// TABLETS & big screen
@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-mobile-xs {
        display: none;
    }

    .brand {
        text-align: center;
    }
    
    .brand-sign {
        font-size: $xxl;
    }
    
    .brand-claim {
        margin-top: 10px;
        font-size: 2.4rem;
    }

    .info-box-xs {
        display: none;
    }

    .info-box-large {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 60%;
    padding: 50px;
    border: 2px solid $generalcolor;
    border-radius: 10px;
    background: $bgcolor;
    opacity: 0.9;
    overflow: hidden;

    .description {
        font-size: 2rem;
        text-align: justify;
        margin: 50px 0;
    }
    }

    .landingpg-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    button {
        @include buttons;
    }

    .footer-mobile-xs {
        display: none;
    }

}

