@import "mixins.scss";
@import "variables.scss";

@media (min-width: 1200px) {
  body {
    background-size: 180% 180%;
  }

  .side-nav-md {
    grid-area: aside;
    position: fixed;
    top: 19.5vh;
    background-color: $bgcolor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 100%;
    border-right: 2px solid $generalcolor;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20.125vh;
      text-decoration: none;
      border: 1px red solid;
    }
  }

  .btn-xs-1 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid $brandcolor;
    background-color: transparent;
    color: $btncolor;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: $subheadings;
    text-shadow: 2px 2px 3px black;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 22.1%;
      background-color: $brandcolor;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .btn-xs-2 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid $brandcolor;
    background-color: transparent;
    color: $btncolor;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: $subheadings;
    text-shadow: 2px 2px 3px black;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 22%;
      left: 0;
      width: 100%;
      height: 22.4%;
      background-color: $brandcolor;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .btn-xs-3 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid $brandcolor;
    background-color: transparent;
    color: $btncolor;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: $subheadings;
    text-shadow: 2px 2px 3px black;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 44.2%;
      left: 0;
      width: 100%;
      height: 22.5%;
      background-color: $brandcolor;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .btn-xs-4 {
    border: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid $brandcolor;
    background-color: transparent;
    color: $btncolor;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: $subheadings;
    text-shadow: 2px 2px 3px black;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 66.8%;
      left: 0;
      width: 100%;
      height: 22%;
      background-color: $brandcolor;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #about {
    @include sections-xs;
    width: 70%;

    .clip-path-heading {
      font-size: $subheadings;
    }

    .description-xs {
      font-size: $generaltext;
    }

    margin: 100px 0 100px 0;
  }

  #skills {
    width: 70%;

    .clip-path-heading {
      font-size: $subheadings;
    }

    .description-xs {
      font-size: $generaltext;
      text-align: justify;
    }

    .list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      text-align: justify;
    }

    li {
      list-style: none;
      font-size: $generaltext;
    }

    h5 {
      font-size: $subheadings;
    }

    .combine {
      font-size: $generaltext;
    }
  }

  #work {
    @include sections-xs;
    width: 70%;
    margin: 0 0 100px 0;
    .clip-path-heading {
      font-size: $subheadings;
    }

    .description-xs {
      font-size: $generaltext;
    }

    h5 {
      font-size: $subheadings;
    }

    .pic-link {
      text-decoration: none;
      color: $generalcolor;
      text-align: center;
      // opacity: 0.7;

      // &:hover {
      //     opacity: 1;
      // }
    }

    .pic-project1 {
      background-image: url(../images/surf.png);
      background-size: cover;
      width: 19vw;
      height: 250px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .pic-project2 {
      background-image: url(../images/fitness.png);
      background-size: cover;
      width: 19vw;
      height: 250px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .pic-project3 {
      background-image: url(../images/skate.png);
      background-size: cover;
      width: 19vw;
      height: 250px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p {
      font-size: $generaltext;
    }

    .project-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  #contact {
    @include sections-xs;
    width: 70%;
    margin-bottom: 100px;

    .clip-path-heading {
      font-size: $subheadings;
    }

    .description-xs {
      font-size: $generaltext;
    }

    h5 {
      font-size: 3rem;
    }

    label,
    input,
    textarea {
      font-size: $generaltext;
    }

    button {
      border: 2px solid $brandcolor;
      border-radius: 5px;
      background-color: transparent;
      background-color: $bgcolor;
      color: $btncolor;
      font-weight: bold;
      font-size: $subheadings;
      width: 100%;
      height: 40px;
      box-shadow: 2px 2px 3px black;
      text-shadow: 2px 2px 3px black;
      z-index: 0;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $brandcolor;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
