// COLORS
$brandcolor: #F84E66;
$bgcolor: #22333b;
$generalcolor: #C1B2AB;
$btncolor: #2BA473;
$linkcolor: #F67C38;

// Font-Sizes
$xs: 1.5rem;
$s: 1.7rem;
$m: 3rem;
$l: 4rem;
$xl: 5rem;
$xxl: 7rem;
$responsive: 0.7em;




