// COLORS
$brandcolor: #f84e66;
$bgcolor: #22333b;
$bgcolor-main: rgba(34, 51, 59, 0.8);
$generalcolor: #C1B2AB;
$btncolor: #2BA473;
$linkcolor: #F67C38;
$listheading: #2375A9;

// Font-Sizes
$xs: 1.5rem;
$s: 1.8rem;
$m: 2rem;
$l: 2.5rem;
$xl: 4rem;
$xxl: 7rem;
$responsive: 0.7em;




